.ecletsy-sale-heading {
    display: block;
    padding-top: 30px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    font-family: "Guardian-EgypTT",serif;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: lighter;
    font-stretch: wider;
    line-height: 28px;
    h1 {
        display: block;
        font-weight: 300;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        -webkit-font-smoothing: antialiased;
    }
}