.ecletsy-sale-heading {
    display: block;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    h1 {
        display: block;
        text-align: center;
        font-family: "Guardian-EgypTT",serif;
        font-weight: 100;
        letter-spacing: 0.5px;
        font-size: 36px;
        line-height: 36px;
        font-stretch: expanded;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        -webkit-font-smoothing: antialiased;
    }
}