.dropdown-main {
    padding-right: 60px;
}
.dropdown-main:hover .user-profile-dropdown-menu {
    display: block;
    background-color: white;
    opacity: 1;
    z-index: 1;
}
.dropdown-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 35px;
    width: 60px;
    border-radius: 40px;
    cursor: pointer;
}
// .dropdown-button-profile-pic {
//     display: block;
//     padding: 10px;
//     height: 30px;
//     width: 30px;
//     align-items: center;
// }
// .user-icon-down-arrow {
//     display: block;
//     height: 30px;
//     width: 30px;
//     align-items: center;
//     flex-direction: row;
// }
.user-profile-dropdown-menu {
    display: none;
    position: absolute;
    height: fit-content;
    min-width: 200px;
    right: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}
.dropdown-btn:hover {
    background: #eee;
}
.dropdown-header {
    display: flex;
    padding: 20px 10px 20px 10px;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}
.dropdown-signout-container {
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: medium;
}
.dropdown-profile-pic {
    padding: 10px;
    height: 40px;
    width: 40px;
    align-items: center;
}
.dropdown-user-name {
    padding: 10px;
    text-align: center;
}
.dropdown-header {
    flex-direction: row;
}
.dropdown-create-shop {
    align-items: center;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: medium;
}
