
.header-logo-link {
  color: #F1641E;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 40px;
  height: 60px;
  width: fit-content;
  font-family: "Guardian-EgypTT",serif;
  padding-left: 30px;
  padding-bottom: 10px;
  text-align: left;
  text-decoration: none;
  font-stretch: wider;
  -webkit-font-smoothing: subpixel-antialiased;
}
.header-top-bar {
  display: flex;
  font-style: italic;
  font-weight: normal;
  height: 24px;
  font-size: small;
  justify-content: space-between;
  font-family: "Guardian-EgypTT",serif;
  padding: 10px;
}
.login-signup {
  border-radius: 40px;
  font-size: 18px;
  line-height: 1.4;
  min-height: 30px;
  min-width: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}
.login-signup:hover {
    background: lightgrey;
}