.about-box {
    position: relative;
    box-sizing: border-box;
    max-width: 1402px !important;
    height: 400px;
    background-color: rgb(231, 182, 118);
    h3 {
        font-size: 24px;
        font-weight: lighter;
        font-stretch: ultra-expanded;
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 18px;
    }
}
.about-parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 18px;
    margin: 10px;
    div {
        max-width: 340px;
    }
}
.what-is-ecletsy {
    text-align: center !important;
    font-size: 30px !important;
    width: 1402 !important;
    padding-top: 20px;
    padding-bottom: 18px;
}
.wave-box {
    position: relative;
    box-sizing: border-box;
    width: 1402 !important;
    height: 100px;
    padding-top: 5px;
    background-color: rgb(27, 27, 61);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: whitesmoke;
    p {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    div {
        padding: 10px;
    }
    a {
        color: whitesmoke !important;
        padding-left: 20px;
        text-align: center;
    }
}
.hmpg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: none;
}
.product-index {
    display: relative;
}
