.modal-background {
  background: rgba(29, 29, 29, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.modal-child {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.session-form-box{
  margin: 5px auto;
  border: 1px solid #888;
  width: 340px;
  height: 730px;
  padding: 15px;
  align-items: center;
  font-weight: bold;

  h2 {
    margin-top: -1px;
    font-size: 26px;  
  }
}
.session-form-input{
    display: block;
    height: 40px;
    width: 160px;
    background-color: rgb(232, 240, 254);
    font: 400 11px system-ui
}
.login_button_container {
  font-weight: bold;
  font-size: 15px;
}
.session-form-container {
    display: flex;
    align-items: stretch;
    padding: 10px;
}
.login_button_submit {
  align-self: center;
  background-color: rgb(6, 7, 6);
  color: white;
  font-size: medium;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.demo_user_login {
  align-self: center;
  background-color: black;
  color: white;
  font-size: medium;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.session-form 
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.session-terms-and-conditions {
  p {
    font-family: inherit;
    font-size: 13px;    
  }
}