.nav-bar-menu-list {
    display: flex;
    justify-content: space-evenly;
    color: rgb(44, 43, 43);
    padding-top: 30px;
    height: 30px;
    font-family: "Graphik Webfont",-apple-system,"BlinkMacSystemFont","Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 14px;
    font-stretch: wider;
    border-bottom: 3px solid rgb(221, 225, 228);
    width: 100%;
}
.nav-bar-menu-list a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid black;
}
