.nav-bar-menu-list {
    display: flex;
    justify-content: space-evenly;
    color: rgb(43, 40, 40);
    padding-top: 28px;
    height: 30px;
    font-family: "Guardian-EgypTT",sans-serif;
    font-size: 13px;
    font-stretch: expanded;
    border-bottom: 2px solid #eee;
    width: 100%;
}
.nav-bar-menu-list a:hover {
    padding-bottom: 14px;
    border-bottom: 2px solid black;
}
.nav-bar-menu-list a:link, a:visited {
    color: #222;
}
