.product-index-container {
    width: 1402px !important;
    max-width: 1402px !important;
    display: block !important;
    position: relative;
    float: left;
    clear: both;
    list-style: none;
    justify-content: space-around !important;
}
.product-index-item {
    align-items: stretch;
    display: block !important;
    float: left;
    width: 302px !important;
    min-width: 302px !important;
    max-width: 302px !important;
    padding: 9px;
}
.product-index-item-info {
    flex-direction: row;
    box-sizing: border-box;
    div {
        color: black;
    }
}
.free-shipping-bar {
    font-size: 11px;
    font-weight: bold;
    min-width: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 40px;
    background: #D4E9D7;
}