.product-show {
    display: flex;
    justify-content: space-evenly;
}
.product-show-img {
    height: 300;
    width: 300;
    padding-top: 40px;

}
.product-show-info {
    height: 300;
    width: 300;
    padding-top: 40px;
    font-size: x-large;
    font-stretch: ultra-expanded;
    line-height: 2;

}
.product-show-info label{
    font-weight: bold;
}
.product-show-vendor-link {
    background-color: #9fc062;
    border-radius: 40px;
    width: 200px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 24px;
    border-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.return-to-home {
    background-color: #eee;
    border-radius: 40px;
    width: 200px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}